[2017-06-25 07:27] BowieHsu opened #1 "where should i start to debug this model?"
Hi, @Vladkryvoruchko , Thank you for your hard work,
I am very interested in your work about convert PSPNet model from caffe to keras,
after run current model successfully , I also confused about the results
first of all, can you try to make sure the convert process is really worked?

[2017-06-25 07:45] Vladkryvoruchko commented on #1
Hi @BowieHsu i will try to make backward converting to the binaryproto file(caffemodel) and check if npy is not corrupted after **caffe-tensorflow**.
Also will have a detailed view to the assigning weights and biases in keras by name.
Maybe something wrong with converting of batch normalization. Also will have to check

[2017-07-10 02:09] wcy940418 opened #2 "About your result output"
Hello, thank you for your excellent work. I am also interested in implementing PSPNet in TF. I have not tested your code yet, but about your output, I found some post process code in original matlab code.

<pre>
function score = ms_caffe_process(input_data,net)
    score = net.forward({input_data});
    score = score{1};
    score_flip = net.forward({input_data(end:-1:1,:,:)});
    score_flip = sc

[2017-07-10 08:09] Vladkryvoruchko commented on #2
Hi @wcy940418 . I havent found any implementation details about this processing in the original paper. As I dont have any experience in matlab, i can say that image is not actually flipped, but changed order of RGB channels to possible BGR... and then in score addition its changed back. In my pycaffe code i didnt do that "flipping" and it actually works pretty fine.

Will return to working with re

[2017-07-10 15:11] wcy940418 commented on #2
Thank you @Vladkryvoruchko , I see. I will try to figure out the missing detail in the original network.

[2017-07-10 15:59] Vladkryvoruchko commented on #2
@wcy940418 Thank you. Keep me up to date if you proceed :)

[2017-07-12 22:59] wcy940418 commented on #2
@Vladkryvoruchko How did you modify the caffe-tensorflow code to port out bn layer parameters? And I tested using pycaffe to predict image, it just works fine as you said.

[2017-07-12 23:45] wcy940418 commented on #2
Also, I changed some lines in your code, now I get some better results, but not perfect. Could you tell me the order you convert scale, offset, mean, variance from caffemodel?

[2017-07-13 08:05] Vladkryvoruchko commented on #2
@wcy940418 i will now upload in this repo original caffe-tensorflow code, and then commit modifications

[2017-07-13 14:20] wcy940418 commented on #2
Hi @Vladkryvoruchko , I found a snippet in your caffe-tensorflow code to port out bn params. In kaffe/transformers.py line 258:
<pre>
# Prescale the stats
  | scaling_factor = 1.0 / scale if scale != 0 else 0
  | mean *= scaling_factor
  | variance *= scaling_factor
</pre>
I am not sure mean and variance need to be prescaled. I think the meaning of four params of bn layer are identical in both caf

[2017-07-13 20:47] Vladkryvoruchko commented on #2
@wcy940418 Yea, but this snippet is from original converter and should work just fine. If we look on the tutorial of converting DilatedNet [link](http://nicolovaligi.com/converting-deep-learning-model-caffe-keras.html) there is also suppoed to be BN and it works fine there

[2017-07-19 20:16] wcy940418 commented on #2
Okay, I see. Look at here, in keras batchnormolization core function definition:
<pre>
        if self.scale:
            self.gamma = self.add_weight(shape=shape,
                                         name='gamma',
                                         initializer=self.gamma_initializer,
                                         regularizer=self.gamma_regularizer,

[2017-07-19 21:26] wcy940418 commented on #2
And I found another wrong code. Here in layers_builder.py line 177:
<pre>
	for i in range(3): #for i in range(2): old wrong code
</pre>
level 3 should has 3_1 - 3_4 according to the original network.

[2017-07-19 23:28] wcy940418 commented on #2
I got even better result by finding out that there is a
<pre>
prev_layer = Activation('relu')(prev_layer)
</pre>
lost at the top of
<pre>
def residual_short(prev_layer, level, pad=1, lvl=1, sub_lvl=1, modify_stride=False):
</pre>
And also the epsilon setting of bn_layer has to be 1e-5, which is different from the default setting of Keras 1e-3.
Anyway, the result is much better than before, but sti

[2017-07-22 07:01] Vladkryvoruchko commented on #2
@wcy940418 wow. I will now test it. impressive

[2017-07-23 02:21] wcy940418 commented on #2
@Vladkryvoruchko But I used Pillow(PIL) to read the image for my pycaffe code, the result is just fine as the original code.

[2017-08-02 18:17] Vladkryvoruchko commented on #2
@wcy940418 Oh, I've missed such a small details, fixed by your modifications. Can you please make a pull request to this repo :)

[2017-08-02 18:17] #2 closed

[2017-08-06 13:39] jeansely opened #4 "trained weights"
Hello,
may share weight of  PSPNET model in the keras.
Thanks.

[2017-08-06 14:43] wcy940418 commented on #4
@jeansely we have shared the weights converted from original PSPNET caffe model in README: https://www.dropbox.com/s/2ksp9hvokzk6qc8/pspnet50_ade20k.npy?dl=0

[2017-08-07 21:50] EvanzzzZ opened #5 "Anyway to train ?"
How to train with given data set?

[2017-08-07 21:56] wcy940418 commented on #5
@EvanzzzZ Sorry, we currently have not figured out a good way to train the code. Basically, training skills are the key points and source of good performance of PSPNET. Because of some NDA reasons, the author does not share the train the training code. You can try to use OpenMPI for training the PSPNET on several GPUs to get good performance, but I am not sure the difficulty about this work.

[2017-08-07 22:21] EvanzzzZ commented on #5
In this repo, you convert the caffe model to tensorflow and use the trained params, and then didn't get the similar results ?

[2017-08-07 23:05] wcy940418 commented on #5
@EvanzzzZ Yes, this may due to something different between caffe and tensorflow, but I still don't know why

[2017-08-07 23:21] EvanzzzZ commented on #5
How can you verify your layers_builder build the exact model as in the paper.

[2017-08-07 23:25] EvanzzzZ commented on #5
Since you already have the network, why can't you train the model from scratch ?

[2017-08-08 01:04] wcy940418 commented on #5
@EvanzzzZ If the explicit parameters(e.g. weight, bias) are not identical to the model in the paper, it can not be assigned to our network, since all the parameters are ported from original work. As for internal architecture in network, we just use the common layer setting in keras. If the caffe code uses some "magical" layer and some hidden settings, as least I have no idea about how to do it.

T

[2017-08-08 03:24] EvanzzzZ commented on #5
Intersting to know this. Is there any framework that support BN on multi-GPU currently ?

[2017-08-08 03:39] wcy940418 commented on #5
@EvanzzzZ I only know OpenMPI can help to do it.

[2017-08-09 11:17] jeansely opened #8 "error in pspnet.prototxt"
Hello,
when run weight-converter this error occur:

 "caffe.LayerParameter" has no field named "bn_param".

                          i replace it with "batch_norm_param"
again occur below error:
 "caffe.BatchNormParameter" has no field named "slope_filler".

[2017-08-10 05:54] Vladkryvoruchko commented on #8
Hello @jeansely . There is modified prototxt in /utils/model

[2017-08-10 13:33] jeansely commented on #8
now in /utils/model the prototxt is ;
bn_param {
    slope_filler {
      type: "constant"
      value: 1
    }
    bias_filler {
      type: "constant"
      value: 0
    }
    frozen: true
    momentum: 0.95

what are  replace these lines ?

[2017-08-10 18:59] hujh14 commented on #8
It is from here.
https://github.com/hszhao/PSPNet/blob/master/evaluation/prototxt/pspnet50_ADE20K_473.prototxt

[2017-08-11 13:01] jeansely commented on #8
when run weigth -converter occur error in prototxt "line 109"

 has no field named "bn_param".
and
"caffe.BatchNormParameter" has no field named "slope_filler".

[2017-08-16 11:30] jmtatsch opened #9 "Cityscapes weights"
Hi Vlad,

I am trying to convert the original pspnet101_cityscapes weights from https://github.com/hszhao/PSPNet to keras.

`python weight_converter.py pspnet101_cityscapes_713.prototxt pspnet101_cityscapes.caffemodel`

In PSPNet-Keras-tensorflow I adjusted:
[code]
PSPNet runs through without errors, unfortunately, the output for a test image remains indiscernible:

![test](https://user-images.git

[2017-08-16 12:55] jmtatsch commented on #9
Changed back the means to the default as apparently pspnet did not use different means when training on different datasets, but still:

![test](https://user-images.githubusercontent.com/3080674/29364178-ec109420-8292-11e7-8cb8-3b2b7adff94d.jpg)

[2017-08-16 14:51] hujh14 commented on #9
The architecture for pspnet101_cityscapes_713.prototxt is different from the one specified in layers_builder.py. To load those weights, you need to convert that model into keras.

[2017-08-17 12:57] jmtatsch commented on #9
@hujh14 thank you so much for figuring this out. It seems to work now :)
![test3](https://user-images.githubusercontent.com/3080674/29413266-10c9646c-835c-11e7-96df-9b6150e6c8ee.jpg)
![blended](https://user-images.githubusercontent.com/3080674/29413260-0af8d1b2-835c-11e7-805c-4d9d9d22e2e7.jpg)
I will open a pull request later..

[2017-08-17 12:57] #9 closed

[2017-08-17 20:45] jmtatsch commented on #9
#10

[2017-08-17 21:58] guillaume-chevalier opened #11 "License == ?"
Hi, I would like to know under which license is your work available. GitHub's default license is "all rights reserved" for public repositories, such as this one.

Adding a license to your repository is simple:
https://help.github.com/articles/adding-a-license-to-a-repository/
Just be sure that in the template you pick to add your name(s).

You may also want to take a look at the following in the c

[2017-08-18 06:13] Vladkryvoruchko commented on #11
@guillaume-chevalier Choosed a license.)

[2017-08-18 06:13] #11 closed

[2017-08-25 08:50] jmtatsch opened #12 "Bad results"
Although the converted weights produce plausible predictions,
they are not yet up to the published results of the PSPNet paper.

Current results on cityscapes validation set:
[code]

Accuracy of the published code on several validation/testing sets according to the author:
[code]

So we are still missing 79.70 - 62.60 = 17.10 % IoU

Does anyone have an idea where we lose that accuracy?

[2017-08-25 09:25] jmtatsch commented on #12
Is scipy's misc.imresize(img, self.input_shape) really exactly the same as matlabs imresize(img,[new_rows new_cols],'bilinear');
How about the tf.image.resize vs the caffe Interp layer?

[2017-08-25 09:55] hujh14 commented on #12
You could save the intermediate activations from Keras and compare them with the Caffe. There are a few lines for this in utils.py

I forget but they may have used a sliding window for evaluation as opposed to our rescaling which distorts the aspect ratio.

[2017-08-28 13:47] jmtatsch commented on #12
Looking into this further, there are minor differences between the python and Matlab image resizing
depending on input data type.
See e.g. https://stackoverflow.com/questions/26812289/matlab-vs-c-vs-opencv-imresize
Matlab performs anti-aliasing by default and also on Zhao's original code.

I did some experiments and even for that toy example nothing equal the matlab default matlab_imresize_AA
[cod

[2017-08-29 09:37] jmtatsch commented on #12
@hujh14 Unfortunately, i cannot run the original code on a 8GB 1080 GTX, not even with batch size 1 due to insufficient memory. Did you manage to compile the original code with CuDNN support? or do you have 12GB cards?

[2017-08-29 10:11] Vladkryvoruchko commented on #12
@jmtatsch I have card same as yours, and its works well, takes about 3.5 gb of memory

[2017-08-29 12:17] jmtatsch commented on #12
@Vladkryvoruchko are you sure it works with the cityscapes model? it is much larger than both others... which CUDA, CuDNN?

[2017-08-29 13:49] jmtatsch commented on #12
Doing a sliced evaluation now, much better detail!
![cityscapes_seg_blended](https://user-images.githubusercontent.com/3080674/29824263-55b0b46c-8cd1-11e7-8551-bb058925f88a.jpg)
Will do a smarter overlap treatment then evaluate again

[2017-08-29 17:53] Vladkryvoruchko commented on #12
@jmtatsch . Oh... I wrote about ADE :)

[2017-08-30 15:29] mrlzla commented on #5
Is there some way to load resnet pre-trained on imagenet weights?
How many time it spends to train my custom model on single 8gb GPU?

[2017-08-31 09:27] jmtatsch commented on #12
#13

[2017-09-01 14:06] jmtatsch commented on #12
Without flipped evaluation
[code]
Just 2.2 % missing :)

[2017-09-04 10:01] jmtatsch commented on #12
Okay, with flipped evaluation:

[code]

Still 1,7% missing. Will look into multi-scale evaluation.

[2017-09-05 08:26] jmtatsch commented on #12
Adding multi-scale on top actually worsened the results by far. A funky gif with  scales = [0.5, 0.75, 1.0, 1.25, 1.5, 1.75] last frame is the aggregated one.
![evaluation_of_scales_2017-09-05 10 12 21 396198](https://user-images.githubusercontent.com/3080674/30052039-75cfc014-9224-11e7-936e-ba2824a2ce4f.gif)

[2017-09-11 11:51] leinxx commented on #12
@ jmtatsch, would you mind explain what do you mean by sliced prediction? I am working on the same problem:(

[2017-09-11 13:19] jmtatsch commented on #12
@leinxx by sliced prediction I mean cutting the image into 3x2 overlapping 713x713 slices, forwarding them though the network and reassembling the 2048x1024 predictions from them. Please let us know if fix further issues and get closer to the published results...

[2017-09-18 07:21] nhabili opened #17 "ValueError with pspnet.py"
Hi, when I run pspnet.py, I get a ValueError due to a negative dimension (output file with error
[pspnet.txt](https://github.com/Vladkryvoruchko/PSPNet-Keras-tensorflow/files/1309925/pspnet.txt)
attached). I'm using virtualenv with python2.7, tensorflow version 1.3.0 and keras version 2.0.8. I'm also using the weight files that you've provided.

Any help would be greatly appreciated!

Thanks
Narim

[2017-09-18 10:46] jmtatsch commented on #17
For me building the network still works.
can you print the input shapes in:
--> 177     prev_layer = AveragePooling2D(kernel, strides=strides)(prev_layer)

[2017-09-19 07:27] nhabili commented on #17
Shapes are:

kernel = (60, 60)
strides = (60, 60)
prev_layer = (?, 2048, 60, 1)

[2017-09-19 08:28] jmtatsch commented on #17
For me that is:

(60, 60)
(60, 60)
(?, 60, 60, 2048)

are you using theano dim ordering?

[2017-09-19 08:54] Vladkryvoruchko commented on #17
For me everything also works. Have you done any modifications to the code, or

[2017-09-20 02:07] nhabili commented on #17
The issue was that "image_data_format" in keras.json was set to "channels_first". I removed that line and I don't have that problem anymore. Thanks for your help.

[2017-09-20 02:07] #17 closed

[2017-09-25 08:23] wtliao commented on #12
@jmtatsch thanks a lot. I have learned much from your replication. Would you explain why sliced prediction improve the result so much? and what is flipped evaluation (do you mean flip over the image during training for data augumentation)? Could you provide more details about your training setting? e.g. batch_size, epoch, etc.

[2017-09-25 08:38] jmtatsch commented on #12
@wtliao unfortunately, i did not (yet) train these weights myself.
sliced/sliding prediction has so much more details because the weights were trained on 714x714 crops from the full resolution image and the 714x714 crops are used for prediction. flipped evaluation means predicting on the image and a vertically flipped image at the same time and averaging the results.

[2017-10-04 10:59] waholulu opened #18 "how predict multiple images in the same folder ?"
sorry I'm a noob, I have like 10000 images in a folder that need to predict. How to do it? Thank you so much

[2017-10-06 07:51] jkschin commented on #12
@jmtatsch Thanks for these posts! They were really helpful! :+1:

[2017-10-08 01:05] wcy940418 opened #19 "Need the newest version"
@Vladkryvoruchko I am sorry that I push -f to the wrong repo. Do you or anybody else have the newest version so we can recover it? Thanks

[2017-10-08 01:47] wcy940418 commented on #19
@Vladkryvoruchko I think I have fixed it, please help me check if this is the correct current version. Thanks.

[2017-10-08 08:46] Vladkryvoruchko commented on #19
@wcy940418 do you mean master branch here?

[2017-10-08 14:22] wcy940418 commented on #19
Yes, I push -f my local repo to this master, and this operation overwrote 33 commits, but then I found a way to fix it. Is there anything missing in the master branch?

[2017-10-08 17:44] Vladkryvoruchko commented on #19
@wcy940418 at the first glance, nothing is missing, so I think everything is fine)

[2017-10-08 17:44] #19 closed

[2017-10-14 13:48] eyaler opened #20 "unicode error"
this is on windows 10 64 + python 3.6.2 + tensorflow 1.3

python pspnet.py -m pspnet50_ade20k -i example_images/ade20k.jpg -o example_results/ade20k.jpg
Using TensorFlow backend.
2017-10-14 16:39:03.003842: W C:\tf_jenkins\home\workspace\rel-win\M\windows-gpu\PY\36\tensorflow\core\platform\cpu_feature_guard.cc:45] The TensorFlow library wasn't compiled to use AVX instructions, but these are availa

[2017-10-14 14:03] eyaler opened #21 "allow custom path for model files"
i want to run in a custom environment where i have to keep to model npy file in a different location. would be nice to have an option for a custom model path.

[2017-10-14 14:10] eyaler commented on #20
lol. probably this: https://github.com/fchollet/keras/issues/4135

[2017-10-16 21:32] eyaler opened #22 "which are the correct EVALUATION_SCALES values"
in the main code you have:
`        if args.multi_scale:
            EVALUATION_SCALES = [0.5, 0.75, 1.0, 1.25, 1.5, 1.75]  # must be all floats!
            EVALUATION_SCALES = [0.15, 0.25, 0.5]  # must be all floats!
`
is the first one intended to be overridden by the second?

[2017-10-17 07:46] Vladkryvoruchko commented on #22
Hello @eyaler. the first one is right.
EVALUATION_SCALES = [0.5, 0.75, 1.0, 1.25, 1.5, 1.75]

[2017-10-17 09:15] jmtatsch commented on #22
First one is used by the original paper, second one works better subjectively.

[2017-10-18 14:43] hellochick commented on #1
hI, @Vladkryvoruchko could you tell me what you did to debug this origin model? Is something wrong with batch normalization? Thank you!

[2017-10-19 04:39] hellochick opened #23 "bn layer order problem"
Hi,
It seems that bn_layer weight order is [gamma, offset, mean, var]
but in your code, set weight as [mean, var, gamma, offset]
can someone tell me why ?
Thanks.

[2017-10-19 11:10] hellochick commented on #9
@hujh14 Hey, Could you tell me the difference between directly load weight and load model to keras first?
Since I want to re-implement PSPNet in pure tf for research, but I got bad result on it.

Thanks!!

[2017-10-19 11:39] jmtatsch commented on #9
@hellochick the original authors used a deeper 101 layer resnet in their pspnet for cityscapes. My mistake was that i tried to convert the weights of a 101 layer network to a 50 layer architecture. Of course the architecture needed a deeper resnet also.

[2017-10-19 12:22] hellochick commented on #9
@jmtatsch Thank you for answering, I got it. I try to turn your model into tensorflow, but the result didn't meet my expectation:
![test](https://user-images.githubusercontent.com/18046598/31770459-9444afa6-b50a-11e7-90de-59dab09ebc16.png)
Do you have any idea about the strange result ( Since most of part are predicted correctly except the trees and buildings ) ?
Or is there any difference between

[2017-10-19 14:01] jmtatsch commented on #9
@hellochick can you also edit in the original image above? It definitely has more trouble with the trees than I would expect. I am also still missing 1.7% to reproduce the published results. Could also be the preprocessing/interpolation that is different in a matlab/caffe pipeline.

[2017-10-19 14:16] hellochick commented on #9
@jmtatsch Hey, here is the origin image:
![test](https://user-images.githubusercontent.com/18046598/31774834-728b5afe-b519-11e7-90c9-c1f946f4877d.png)
And following image is result produced by your model
![test_out_seg](https://user-images.githubusercontent.com/18046598/31775393-1661c842-b51b-11e7-8786-4705c29f6363.png)
It looks perfect

[2017-10-21 10:46] #23 closed

[2017-11-14 03:39] stonycat opened #24 "Can I use this project to train my own data with PSPNet?"

[2017-11-14 22:55] aliericcantona opened #25 "from keras.backend import tf as ktf"
from keras.backend import tf as ktf fails on keras.__version__ = 2.0.8
therefore the interpolation layer gives an error.

Any solution?

[2017-11-21 09:54] #4 closed

[2017-11-21 09:56] Vladkryvoruchko commented on #24
@stonycat  Please see @wcy940418 post in #5

[2017-11-21 09:56] #24 closed

[2017-11-21 09:57] #22 closed

[2017-11-22 23:07] karolmajek opened #26 "Performance improvement using cv2 and numpy"
I improved performance using cv2 for reading/resizing.
I also used numpy instead of nested for in **class_image_to_image**
Here is my fork: https://github.com/karolmajek/PSPNet-Keras-tensorflow

Now I am preparing YT vid:

![img_00000203_seg_blended](https://user-images.githubusercontent.com/11379772/33152869-3b8dfa6c-cfdf-11e7-9b33-51b226d0ff61.jpg)

Do you want me to make a pull request?

[2017-11-23 09:28] Vladkryvoruchko commented on #26
@karolmajek Please make a pull request, so I will see diff

[2017-11-23 10:00] jmtatsch commented on #26
@karolmajek Interesting that cv2 for reading/resizing brings such a nice speedup.
And of course your class_image_to_image is much superior to mine :)
Maybe make two pull requests, one for a new flag handling a live image source and one for the class_image_to_image improvement.

[2017-11-26 07:45] cardwing commented on #25
I have met the same problem. My solution is to not activate tensorflow in the terminal, i.e., not use "source activate tensorflow". Just use "python pspnet.py -m pspnet101_cityscapes -i example_images/cityscapes.png -o example_results/cityscapes.jpg", it will work.

[2017-11-26 07:53] cardwing opened #27 "A reminder: Do not activate tensorflow in the terminal, just run "python pspnet.py ......""
Just following the above instructions provided by the author, the code should work. If you met problems like "TypeError: pool_2d() got an unexpected keyword argument 'ws' "(theano version should be 0.9), "AttributeError: 'module' object has no attribute '_set_session' ", "ValueError: epsilon must be at least 1e-5, got 9.99999974738e-06", a potential reason is that you may activate tensorflow in th

[2017-11-26 10:04] Vladkryvoruchko commented on #25
@cardwing what do you mean activate tf in the terminal? I guess it is to import tf in the python shell?
@aliericcantona  Can you please provide some logs or error stack

[2017-12-05 23:58] xg1990 commented on #5
So in this case, fine-tuning the model is also not  possible?

[2017-12-08 12:42] deepankverma commented on #18
Find the relevant information in Pull requests.

[2017-12-09 06:42] CuriousCat-7 commented on #8
I hold the same problem

[2017-12-14 05:34] motimen1 opened #29 "Python/Django?"
Здравствуйте, Владислав!
Сразу хочу извиниться, что пишу вам в гитхаб в issue.
Я ищу разработчика с опытом в Python под веб от 2-х лет до 100 лет (а опыт с Python-ом у вас есть, судя по репозиторию :), опытом в Django, опытом работы с JavaScript-ом (желательно какой-нибудь высокоуровневый фреймворк, но пойдет и просто jQuery) и возможностью разговаривать по-английски (можно с ошибками и акцентом,

[2017-12-14 09:11] Vladkryvoruchko commented on #29
@motimen1 -

[2017-12-14 09:11] #29 closed

[2017-12-18 13:10] jmtatsch commented on #12
@scenarios Good catch, I will fix this and reevaluate.

[2017-12-19 05:09] scenarios opened #31 "weights converted in wrong order"
Hi @Vladkryvoruchko , I noticed  you convert the parameter of bn layer in caffe to the numpy array by the order of  'mean = v[0], variance = v[1], scale = v[2], offset = v[3]' . However, the v[0-3] actually hold the value for scale, offset, mean, variance respectively according to the caffe blob's definition in bn layer.

The reason that you can still reproduce the results is that you reverse the

[2017-12-19 13:03] jmtatsch commented on #31
@scenarios Seems like a valid point. Can you check #32? Do you have pycaffe installed to test converting the weights again?

[2017-12-19 13:19] scenarios commented on #31
@jmtatsch Checked and everything works well now.

[2017-12-19 13:31] jmtatsch commented on #31
@scenarios  Perfect. Would you be so kind and contribute new npy weights for the models? I don't have the whole PSPNET, pycaffe etc chain running anymore ...

[2017-12-22 21:47] baoruxiao commented on #26
@karolmajek, thanks! Ndimage is really expensive especially for large size input image.

[2018-01-09 15:41] JustWon opened #34 "npy file ilnks are not working."
I found out there are three links for pre-trained weight files.

pspnet50_ade20k.npy
pspnet101_cityscapes.npy
pspnet101_voc2012.npy

However, only one of them are working, pspnet50_ade20k.npy.
I hope to download pspnet101_voc2012.npy file, specifically.
Can I get a link for this file?

[2018-01-09 21:28] Vladkryvoruchko commented on #34
@JustWon Updated readme with links from @jmtatsch fork.

[2018-01-09 21:28] #34 closed

[2018-01-09 21:59] jmtatsch commented on #31
I think we can safely close this now.

[2018-01-10 08:56] Vladkryvoruchko commented on #31
@jmtatsch yup

[2018-01-10 08:56] #31 closed

[2018-01-11 02:57] #27 closed

[2018-01-12 00:41] ljm355 commented on #20
Have you got this fixed? I am having a similar issue:

  File "C:\Miniconda3\lib\site-packages\keras\utils\generic_utils.py", line 140,
 in deserialize_keras_object
    list(custom_objects.items())))
  File "C:\Miniconda3\lib\site-packages\keras\layers\core.py", line 699, in from
_config
    function = func_load(config['function'], globs=globs)
  File "C:\Miniconda3\lib\site-packages\keras\utils\g

[2018-01-12 08:12] akshaychawla commented on #20
@ljm355 I solved this problem by using an older version of keras. My setup is as follows:
python 3.4.3
tensorflow-cpu (1.4.1)
keras - 2.0.6 (this is what made it work)
apparently there is a bug in keras 2.1.2 (the most recent one) where they were unable to deserialize old models. So i just used an older version of keras, it works well.

[2018-01-12 21:31] ljm355 commented on #20
Thanks!
I tried a number of different Keras and Python versions and finally worked it out with the following configuration：
Windows 7
python 3.5.0 (conda install python=3.5.0)
keras gpu 2.0.8 (conda install -c anaconda keras-gpu)
tensorflow-gpu 1.1.0 (conda install tensorflow-gpu)

One caveat about Python version:
Python 3.6 will cause 'SystemError: unknown opcode'

[2018-01-19 07:41] qiuyinglin commented on #25
@Vladkryvoruchko
i am running the same issue as @aliericcantona
i install this whole package in amazon EC2 machine, which has Ubuntu 16.04.3 LTS (GNU/Linux 4.4.0-1022-aws x86_64v)

and in terminal, i put command "source activate tensorflow_p36" to have the TensorFlow(+Keras2) with Python3 (CUDA 8) enviroment.

then i run python pspnet.py -m pspnet101_voc2012 -i example_images/pascal_voc.jpg -o exa

[2018-01-20 02:29] tangsanli5201 commented on #8
I hold the same problem too.

[2018-01-20 03:08] tangsanli5201 commented on #20
@akshaychawla I think there is an easier way to solve this problem ( and I found it's working):
In layers_builder.py, call the build_pspnet function as:
model = build_pspnet(nb_classes=19, resnet_layers=101, input_shape=(713, 713), activation='softmax')
print(model.to_json())
and replace the json string to the json file.
This will directly output a json string according to your keras version.

[2018-01-20 08:29] Vladkryvoruchko commented on #8
@CuriousCat-7 @tangsanli5201  Please use already converted h5, json weights. Links that can be found in README.md
I just cannot remember what was done with this converter, so if I find out i will leave a comment in this thread

[2018-01-21 09:47] akshaychawla commented on #20
@tangsanli5201 Cool! This is a much better solution as it works for all versions of Keras. Could you dump the json for the latest keras (via pip) and raise a PR? It will help others who are facing this problem.

[2018-01-21 12:47] tangsanli5201 commented on #8
@Vladkryvoruchko Yeah. I tried to use the already converted json weights, but it raised an error: 'bad marshal data...'., which I thought it is caused by the different version of Keras( mine is 2.1.2). And it's solved now: I generated the json file through Keras 2.1.2 and replaced the old one. It's working. Thanks!

[2018-01-21 13:14] cardwing commented on #25
@Vladkryvoruchko , not use tf in the terminal is just not execute "source activate tensorflow". Just use "python file_name.py -m pspnet101_cityscapes -i example_images/cityscapes.png -o example_results/cityscapes.jpg" should work.

[2018-01-23 13:54] nurhadiyatna commented on #5
Hi Guys, I tried to train the keras code from the scratch, and got really good performance for cityscapes data (coarse and fine annotation). ~88% for validation accuracy for pixel level (not IoU), and ~85% of testing (not IoU).  I use val data in cityscapes dataset as testing (500 images) and using 2970 data for training and validation (80% training and 20% val). However, I got some issue with ima

[2018-01-23 14:05] jmtatsch commented on #5
@nurhadiyatna can you please post your full result for the validation set? Afaik the original paper only trains on quadratic patches and stitches their quadratic predictions

[2018-01-23 14:17] nurhadiyatna commented on #5
aha, Ok i see then. That's why in this repo multiscale and slice prediction provided.

Sure I will try to provide some image to show the result.

Btw, While I use the layer builder I need to reshape the dimension from the last layer (None,713,713,Num_classes) to (None,508369,Num_classes), could someone explain to me why we need to do that? Because I am a newbie in this field. Thank you so much.

[2018-01-29 13:57] chandanms opened #35 "'input_data' not defined in pspnet.py"
I downloaded the weights and placed it in keras folder. Everything runs fine until I encounter this,
Namespace(flip=False, id='0', input_path='example_images/pascal_voc.jpg', input_size=500, model='pspnet101_cityscapes', output_path='example_results/cityscapes.jpg', weights=None)
Keras model & weights found, loading...
Predicting...
Traceback (most recent call last):
  File "pspnet.py", line 193,

[2018-01-29 14:08] mrlzla commented on #35
The bug was occured after merging with my fork.
#36

[2018-01-29 14:24] Vladkryvoruchko commented on #35
Fix [#2bfef37](https://github.com/Vladkryvoruchko/PSPNet-Keras-tensorflow/commit/2bfef37b69cf25f6abb0c9942286e059faa5c86e)

[2018-01-29 14:24] #35 closed

[2018-02-01 16:34] jmtatsch commented on #5
@nurhadiyatna any update on the results of a self-trained psp-net?

[2018-02-02 16:31] TheRevanchist commented on #12
Hi,

What are the results do you get after the last changes? Do you get similar results to the paper, or still they are worse?

[2018-02-05 16:12] nurhadiyatna commented on #5
@jmtatsch I got an overfitting training I guess, here some log of my training process. I use both coarse and fine annotation :

![overfit](https://user-images.githubusercontent.com/20162746/35814725-08295a2a-0a97-11e8-8434-ad04db5247e2.png)

Accuracy:

![over_fitting_acc](https://user-images.githubusercontent.com/20162746/35814742-16719c8c-0a97-11e8-8b50-e37e58ee2ec3.png)

btw, I need to split the

[2018-02-14 13:48] jeffreylutz opened #38 "Environment not well defined"
It would be useful to specify the exact details of the entire environment.  Specifically, the exact version of Python.  After trial-and-error, I figured out that Python 3.5 (not 3.6/latest nor 2.7) work properly.  Just add it to the requirements file.

[2018-02-14 14:03] cristinabustos16 commented on #38
For loading the pretrained model and making predictions, it works for me in python 2.7.12, keras 2.1.3, tensorflow 1.3.0-rc2
Haven't tried for training

[2018-02-24 09:50] shipeng-uestc commented on #5
Hi, @nurhadiyatna Can you share your train code ?
Thanks .

[2018-02-24 09:54] shipeng-uestc commented on #12
@jmtatsch.Did you train PSPnet on any dataset?

[2018-02-24 10:36] shipeng-uestc commented on #5
Hi, @nurhadiyatna Did you train PSPnet on Ade20K dataset ?
Thanks .

[2018-02-24 11:05] jmtatsch commented on #12
No, But some train code was merged recently, so someone should have.

[2018-02-25 16:13] Dayire opened #39 ".npy weights"
Hello,

Can anyone upload the .npy weights for cityscapes (and others if possible) since the conversion is not working for me, PSPNet caffe is not working well.

Thanks!

[2018-02-25 17:44] jmtatsch commented on #39
@Dayire what makes you think the conversion is not working?
Here are some npy files from my dropbox, not sure if they were pre or post #31

https://www.dropbox.com/s/slzgd07ijcyl45b/pspnet50_ade20k.npy?dl=0
https://www.dropbox.com/s/oimz7wrgqhfmkk9/pspnet101_cityscapes.npy?dl=0
https://www.dropbox.com/s/ht3qup5r1nourbg/pspnet101_voc2012.npy?dl=0

Also check out my PSPNet-Keras-tensorflow fork, it

[2018-02-25 17:51] jmtatsch commented on #39
I checked, those should be post batch norm order fix. What is your error exactly?

[2018-02-26 18:14] Dayire commented on #39
my error was with PSPNet caffe mostly, even after installing it. It didn't convert correctly. I've deleted it now but I will try to do the step again. If that would lead to a bug?

[2018-02-26 19:02] jmtatsch commented on #39
Ah now I understand. Getting a running version of pspnets caffe flavor with the current drivers & cudnn is quite a challenge. But you can directly use the Keras Model files now without conversion from npy.

[2018-02-27 09:04] Dayire commented on #39
I'm using this repo to train, for this, I need the numpy weight as I checked in the training code. Or is it possible to change few lines to use the keras weights?

[2018-02-27 09:12] jmtatsch commented on #39
It doesn’t make sense to load the weights from npy format every time. That is much slower and maybe only a little bit more universal towards keras changes and python2/3 marshalling issues. Once you have converted the weights to h5 you should use that as starting point for your training endeavors.

[2018-02-27 09:26] Dayire commented on #39
I understand now, I'm new to Keras. Thanks!

[2018-02-27 09:26] #39 closed

[2018-02-28 20:48] srcolinas opened #40 "Using your repo on CPU"
Hi, thanks for your work!

Is it possible to make just inference of your modele using CPU? How can I do it?

Best regards,

[2018-02-28 20:50] jmtatsch commented on #40
Sure, just install tensorflow instead of tensorflow-gpu as keras backend.

[2018-03-01 01:57] srcolinas commented on #40
Thanks a lot! it worked seamlessly

[2018-03-01 01:58] #40 closed

[2018-03-14 12:51] nurhadiyatna commented on #5
Hi @shipeng-uestc ... No I didn't. Only in pascal VOC 2010 and Cityscapes, however the result still far below the original paper....

[2018-03-18 09:55] jmtatsch commented on #25
Apparently this issue is caused by the marshal serial format having changed a bit between Python 3.5 and 3.6 as discovered in https://github.com/keras-team/keras/issues/9595 . Converting the weights from numpy with python 3.6 should work around it.

[2018-03-29 06:28] sunpreet007 opened #42 "Training error"
I am trying to train PSPNet on a particular dataset.
![trainingerror](https://user-images.githubusercontent.com/18732883/38073383-626455ba-3348-11e8-8ade-ac87dbcb82aa.png)
 Can someone please tell me the exact steps to be followed to train a dataset.

[2018-04-25 09:47] sunpreet007 opened #43 "Number of classes in cityscapes dataset."
In the pspnet.py code the number of classes mentioned in the cityscapes dataset is 19 whereas in the cityscapes_labels.py the number of classes are 35. Can someone please tell me why is this so?

[2018-04-27 06:26] sunpreet007 opened #44 "Training error"
I am trying to train the cityscapes dataset using a small number of images. When i run the training code in the terminal although no error appears but it is not moving past the first epoch.
![screenshot from 2018-04-27 11-55-26](https://user-images.githubusercontent.com/18732883/39347765-fa201cba-4a11-11e8-8899-93ab07b59238.png)

Can someone please tell me the fix?

[2018-05-17 09:41] Vladkryvoruchko commented on #44
@sunpreet007 did you run code on cpu?

[2018-05-17 09:44] Vladkryvoruchko commented on #42
Closed.

[2018-05-17 09:44] #42 closed

[2018-06-19 16:39] amlarraz opened #45 ".npy weigths"
Hey! Thanks for yoor work @Vladkryvoruchko , somebody have new links to dowload the weights in .npy format?? I want to train the net from a pretrained model and the function set_npy_weights seems that only works with .npy files, beacuse if you use the .h5 or .json that can be downloaded using the README links the code throws the error:
`ValueError:` You called `set_weights(weights)` on layer "conv

[2018-06-28 06:44] xjNiu commented on #34
Where are the links for  .npy files?

[2018-06-28 07:28] xjNiu commented on #39
The links to .npy files are not working now. Can you update it?@jmtatsch

[2018-07-10 17:48] RahavLussato commented on #8
@tangsanli5201 how did you manage to generate the json ? i have the same `bad marshal data...` issue

[2018-07-10 18:01] jmtatsch commented on #45
https://www.dropbox.com/s/slzgd07ijcyl45b/pspnet50_ade20k.npy?dl=0
https://www.dropbox.com/s/gdtjzjkox999xpg/pspnet101_cityscapes.npy?dl=0
https://www.dropbox.com/s/ff6hdkhxz8h5si1/pspnet101_voc2012.npy?dl=0

[2018-07-11 15:13] amlarraz commented on #45
Hey! Many thanks @jmtatsch !

[2018-08-03 01:25] bui08 commented on #5
Hey, @nurhadiyatna
Would it be possible for you share your train code?
Thank you :)

[2018-09-06 06:14] Bonsen opened #46 "error : load weights"
I want to run train.py and I get:
Importing weights from weights/npy/pspnet50_ade20k.npy
input_1
conv1_1_3x3_s2
'conv1_1_3x3_s2'
conv1_1_3x3_s2_bn
Traceback (most recent call last):
  File "train.py", line 152, in <module>
    args.batch, args.weights, args.initial_epoch, args.model, args.sep)
  File "train.py", line 98, in train
    set_npy_weights(pre_trained, model)
  File "train.py", line 32,

[2018-09-06 06:54] Bonsen commented on #46
After I use np.load(,encoding="latin1"), everything is OK. (not "bytes")

[2018-09-06 06:54] #46 closed

[2018-09-10 17:04] zaher88abd opened #47 "Training Data"
Hi,

May I ask for example how should be the training dataset?

thanks.

[2018-09-14 08:12] Vladkryvoruchko commented on #47
hi @zaher88abd
Please refer to https://github.com/Vladkryvoruchko/PSPNet-Keras-tensorflow/issues/5

[2018-09-26 23:52] #47 closed

[2018-09-27 08:54] horizonheart commented on #5
i didn't find the loss fucntion

[2018-09-27 08:54] horizonheart opened #48 "where is the loss fucntion"

[2018-10-03 08:57] liminn commented on #48
See     ```
model.compile(optimizer=sgd,
                  loss='categorical_crossentropy',
                  metrics=['accuracy'])
``` in  `layers_builder.py`

[2018-10-11 08:53] zl535320706 commented on #5
Well, I'm confused that how to use "train.py", I check the "/pyhton_utils/preprocessing.py", and don't know the default training process uses which datasets. According to the "train.py " '86    parser.add_argument('-m', '--model', type=str, default='pspnet50_ade20k',  ',I guess the default is ade20k, and I add the datasets path to "train.py".
After that, I run "train.py", and got the message "Pool

[2018-10-30 00:59] YuShen1116 commented on #12
Hi.

Thanks for your excellent work, could you please tell  me how do you get the evaluation results? Are you using the scripts in the cityscapes repo?

THank you!

[2018-11-06 05:39] sainttelant commented on #38
@SlinkoIgor hi, for py3.6, how to solve the above error? unknown opcode?

[2018-11-12 03:14] ktnguyen2 commented on #20
I am having a similar issue on CentosOS:
$ python3.6 pspnet.py -m pspnet101_cityscapes -i example_images/cityscapes.png -o example_results/cityscapes.jpg
Using TensorFlow backend.
2018-11-11 19:09:55.178295: I tensorflow/core/platform/cpu_feature_guard.cc:141] Your CPU supports instructions that this TensorFlow binary was not compiled to use: AVX2 FMA
Namespace(flip=True, glob_path=None, id='0', i

[2018-11-13 02:07] ybxbupt opened #49 "SystemError: unknown opcode"
Namespace(flip=True, glob_path=None, id='0', input_path='example_images/cityscapes.png', input_size=500, model='pspnet50_ade20k', output_path='example_results/cityscapes.jpg', weights=None)
weights/keras/pspnet50_ade20k.json
Keras model & weights found, loading...
XXX lineno: 18, opcode: 0
Traceback (most recent call last):
  File "/home/jiurui/temp/PSPNet-Keras-tensorflow-master/pspnet.py", line

[2018-11-14 17:54] ktnguyen2 commented on #49
I have this error too. I am on CentosOS with keras 2.0.6, tensorflow 1.11, and python 3.6

[2018-11-15 08:48] lmz-whu opened #51 "Auxiliary loss"
Hello, thanks for your works! Have you implemented the auxiliary loss? And where is it?

[2018-11-20 02:18] sainttelant opened #52 "is train.py written by python2?"
i tried to run train.py using my own datasets, and found lots of incompatible codes with python3.5, eg, list and dict relevant operations, why don't unify writing with python3 ?

[2018-11-20 06:04] sainttelant opened #53 "train.py hasn't finished yet? especially for preprocessing.py in python_utils?"
as mentioned above, i found many places demanding to debug, i don;t know the datasets how to place in the folders by author. especially for the function of "data_generator_s31 " and function of  “generate”， it couldn't return the correct of images and corresponding annotations, i am trying to fix them up, does anyone find the same issues?

[2018-11-25 22:00] world4jason commented on #5
HI @nurhadiyatna  can you share your training code on Cityscapes dataset?
the training code in this project is quit confused....
Thanks.

[2018-11-25 22:19] world4jason opened #54 "Training on cityscapes"
can anyone share how to train the model on cityscapes dataset?

[2018-11-26 03:07] sainttelant commented on #5
@world4jason  indeed, there are many errors in this training code, quite confused, i think anyone who intend to train should modify the preprocessing.py, and make sure the compatibility of python2 and python3 of train.py

[2018-11-26 03:10] sainttelant commented on #5
i've already rewritten the train.py and some relevant *.py codes, it could run the training, however, the batch_size must be set to 1, otherwise , the resources of hardware will be collapsed

[2018-11-26 15:18] FENGShuanglang opened #55 "some question about multi_scale"
i want to know how to implement multi_scale?Thank you very much

[2018-12-07 11:52] gulzainali98 commented on #39
at my end when i run the command

It always runs .npy weights by default. How to solve this issue? i have .h5 weights downloaded.

[2018-12-07 11:54] gulzainali98 opened #56 "Can't load .h5 weights"
at my end when i run the command

python pspnet.py -m pspnet101_cityscapes -i example_images/cityscapes.png -o example_results/cityscapes.jpg

It always runs .npy weights by default. How to solve this issue? i have .h5 weights downloaded.

[2018-12-07 16:52] world4jason commented on #5
@sainttelant can you kindly share your codes or project? thanks

[2018-12-15 06:06] CoinCheung opened #57 "Did you ever use auxiliary loss to supervise training, I did not find the associated code"

[2019-01-18 14:45] Nimmerwoner commented on #49
I also encounter this error, has anyone found out what goes wrong yet? Could it be a Python / TF / Keras version error?

[2019-01-23 20:34] Emimal opened #59 "Adaptive_Pooling Error"
File "/home/examples/PyramidSceneParsingNetwork_PSPNet.py", line 347, in <module>
    activation="softmax", name="PSP")
  File "/home/examples/PyramidSceneParsingNetwork_PSPNet.py", line 329, in build_pspnet
    psp = build_pyramid_pooling_module(res)
  File "/home/examples/PyramidSceneParsingNetwork_PSPNet.py", line 305, in build_pyramid_pooling_module
    interp_block1 = interp_block(res, 1, out

[2019-02-08 20:30] hwchen2009 commented on #49
I have this error too. Anyone solved this yet?

[2019-02-08 21:28] Nimmerwoner commented on #49
I fixed it by using python 3.5. Both 2.7 and 3.6 didn't work for me.

[2019-02-11 00:39] ktnguyen2 commented on #49
I also fixed it by using python 3.5

[2019-02-11 00:40] ktnguyen2 commented on #54
I would also like to know

[2019-02-11 14:13] hwchen2009 commented on #49
Thanks! that worked

[2019-02-13 09:16] ga84 opened #60 "My results: wrong colours assignment"
Hello and thank you for your great work!  I tried to do segmentation with this network (with cityscapes weights) and colours seem to be assigned completely wrong. Do you have an idea why this might be happening? I.e. vegetation is always blue, pavements red instead of magenta and people magenta instead of red, streets are black(static or unlabeled?) etc... Can it be that, for some reason, pixels a

[2019-02-13 10:51] Vladkryvoruchko commented on #60
@ga84 Initial image and processed are appreciated to make test on them

[2019-02-13 10:55] #1 closed

[2019-02-14 07:36] jmtatsch commented on #60
@ga84 you can use my fork

[2019-02-14 20:35] ga84 commented on #60
Hello guys and thank you for your answers and great work. I solved the colours problem with some code editions from the fork of @karolmajek.

Nevertheless here are some comparissons of my results with both of your versions. Above: @Vladkryvoruchko with karolmajek edition of parts of pspnet.py and below: @jmtatsch with sliding window predictions. Although I'd expect better results in the second cas

[2019-02-15 07:56] jmtatsch commented on #60
@ga84 wow, those are crazy quality differences.

So you have just taken @karolmajek s PR? everything else default? As far as I can remember he has only changed a couple of pillow IO and resize functions to opencv, which greatly increased the speed.
Maybe some pillow functions have changed whereas the opencv ones stayed the same?

Concerning the sliding window predictions with my fork, you seem to

[2019-02-15 10:46] ga84 commented on #60
@jmtatsch  yes, I used karolmajek's version, where he applied cv2 for image reading and resizing in prediction. Also the differences are class_image_to_image and color_class_image_slow. Actually no PIL functions as far as I can see, if that's what you mean?

Good point about the window size, I hope I would've come to that eventually myself xD. The results are not that bad without it though. I can

[2019-03-05 17:52] ktnguyen2 opened #61 "How to evaluate results?"
I was wondering how to get mean IoU and pixel accuracy?

[2019-03-15 12:58] ga84 commented on #61
I am also interested in this. Would it be possible for you to upload some script with evaluation code, or is it too much to ask? :) @Vladkryvoruchko  @jmtatsch

[2019-03-15 12:59] #60 closed

[2019-04-03 02:33] ktnguyen2 commented on #12
Hello,

I would also like to know how to get the evaluation results. I tried using the cityscapes scripts, but I am getting this error when using seg_read images as my input:

Traceback (most recent call last):
File "evalPixelLevelSemanticLabeling.py", line 696, in
main()
File "evalPixelLevelSemanticLabeling.py", line 690, in main
evaluateImgLists(predictionImgList, groundTruthImgList, args)
File

[2019-04-09 19:46] eugene6789 opened #62 "scipy version and 'imresize'"
I've created one virtual environment on Anaconda
and installed tensorflow= 1.10.0 / numpy = 1.13.3 / scipy = 1.2.1 and keras.

I could not install tensorflow-gpu because I don't have gpu..
and If I run code,
I'm getting this message saying,
"from scipy.misc import imresize, imread
ImportError: cannot import name 'imresize"

from somewhere, somebody said that 'imresize' is deprecated from scipy ==1

[2019-04-12 11:36] yasharmaster opened #63 "Trained models not working in Python 3.6+"
Loading model files gives error `SystemError: unknown opcode`.
This is the [issue](https://github.com/keras-team/keras/issues/7297) with Keras.
Please provide the models trained on python 3.6.

[2019-04-19 03:49] BrianMowrey commented on #62
try
`pip install Pillow`

scipy.misc.imresize [docs](https://docs.scipy.org/doc/scipy/reference/generated/scipy.misc.imresize.html) say "This function is only available if Python Imaging Library (PIL) is installed."

worked for me

[2019-04-24 07:17] SidShenoy commented on #63
The models can be loaded in the version of python used while creating them. Keras has this issue. Try downgrading python 3.6 to python 3.5, it worked for me.

[2019-04-24 07:25] SidShenoy opened #64 "ADE20K segmaps not correctly labeled"
When I used the '-m pspnet50_ade20k' option, the RGB segmaps generated were not correctly labeled/colored. I found out a fix for this,

Line number 209 of 'pspnet.py' must be changed as follows,

`import ade20k_labels`
`color_cm = utils.class_image_to_image(cm,ade20k_labels.labels)`

Similar changes must be made according to the other options `-m 'pspnet101_cityscapes' OR 'pspnet101_voc2012'` chos

[2019-04-24 09:12] yasharmaster commented on #63
Yeah it worked on my local machine after downgrading the local version of python. But in Google Colab there is no way to downgrade Python 3 version, so it cannot be used there,

[2019-04-24 09:54] jmtatsch commented on #63
Just convert the npy weights with your desired keras/python Version. You’ll be fine.

[2019-04-27 04:25] CinKKKyo commented on #63
Totally right, so I am going to train it on ADE20K again🤯

[2019-05-07 18:54] ktnguyen2 commented on #63
@jmtatsch What npy weights? I thought we only used keras weights

[2019-05-07 18:55] jmtatsch commented on #63
just search the issues you may find something.

[2019-05-13 01:18] xunhs commented on #54
build the develop environment as the author list in the ReadMe.
Then you can use this command as this:
python pspnet.py -m pspnet101_cityscapes -i C:\Users\Amber\Documents\OSM\PythonCodes\PSPNetEX\origin.jpg -o C:\Users\Amber\Documents\OSM\PythonCodes\PSPNetEX\pspnet101_cityscapes.jpg

[2019-05-30 14:53] Vladkryvoruchko commented on #62
Closed due to no activity

[2019-05-30 14:53] #62 closed

[2019-06-06 13:11] atabakd commented on #62
Since scipy 1.3.0rc1 `resize` has been [removed](https://github.com/scipy/scipy/releases/tag/v1.3.0rc1).

[2019-06-07 03:47] QiZhangsama opened #65 "The accuracy on voc is not as expected"
I used pspnet101_voc2012.h5 and pspnet101_voc2012.json to test VOC data，and it's mIOU is 82.51% after uploaded the results. But the real value is 85.4% in the paper. I want to know why.

This is my resutls:

Competition | Category | Score
-- | -- | --
Object Segmentation (comp6) | background | 95.69300
Object Segmentation (comp6) | aeroplane | 93.16350
Object Segmentation (comp6) | bicycle | 68.16

[2019-06-14 06:42] Jason-xin opened #66 "Who can provide me h5 files?"
I cannot open the link given by readme, who can provide me h5 files by google drive or Baidu Netdisk？ Thanks!

[2019-06-26 05:47] rakhecha42 opened #67 "Illusion of a feature?"
In pspnet.py line 163, you are taking input size from args.

Next, in line 207, you are using that user defined input size to resize the image.
`cimg = misc.imresize(img, (args.input_size, args.input_size))`

But now, you are not using the 'cimg' variable anywhere.

Furthermore, in line number 56, you are resizing the image again to an input shape which you have hardcoded for each pretrained model

[2019-07-09 21:32] mhkeller opened #68 ""Image not found" error"
Hi, I am trying to get this running but I'm getting a `Reason: Image not found` error.

1. I created a virtualenv running python 3.6.6
2. I ran `pip install -r requirements.txt --upgrade`
3. I downloaded the weights and put them in the `weights/keras` dir
4. I ran `python pspnet.py -m pspnet101_voc2012 -i example_images/pascal_voc.jpg -o example_results/pascal_voc.jpg`

The image `pascal_voc.jpg`

[2019-07-10 05:36] jmtatsch commented on #68
Tensorflow is not working properly. Possibly something with your library path.

[2019-07-10 14:04] mhkeller commented on #68
Thanks. Yep I didn't understand how to hook up that dependency.

[2019-07-10 14:04] #68 closed

[2019-07-10 14:05] mhkeller commented on #62
In addition to installing `Pillow`, I also had to do `pip install scipy==1.1.0`

[2019-07-12 19:30] mhkeller opened #69 "--ms and -s flags not implemented?"
In the readme, it says you can use the `-ms` and `-s` flags [but these don't seem to be implemented](https://github.com/Vladkryvoruchko/PSPNet-Keras-tensorflow/blob/ff38556e64d62dc992b2edaa3b07a7e24b6323ef/pspnet.py#L145-L160) and if you use them, you get an error saying as much.

Is it possible to use these options through the CLI?

[2019-07-25 02:16] LeeTruth commented on #65
I‘m sorry to bother you, I have a small question to ask you.  Would you like to tell me which .py  file that you used to test your accuracy? I didn't find it here, I am grateful that you can reply to me.

[2019-08-21 13:42] xiaowoniuli commented on #65
have you find it?

[2019-08-23 01:57] xiaowoniuli commented on #53
Have you resolved this problem? in the data_generator_s31 i can not find the label and don not know the src and label should to put.if  you train youself data please tell me  ,thanks

[2019-08-23 14:44] LeeTruth commented on #65
no, if i find it I will tell you, and if you find it ,please tell me ,thanks

[2019-08-27 07:16] shokohigol commented on #25
I have met the same problem. I use python 3.5 and tensorflow-gpu 1.14.0.
I don't understand "not use tf in the terminal is just not execute "source activate tensorflow"" from @cardwing.
how can i fix it?

[2019-08-27 08:01] cardwing commented on #25
Just use "python pspnet.py -m pspnet101_cityscapes -i example_images/cityscapes.png -o example_results/cityscapes.jpg".

[2019-08-28 12:30] raghuram-kukun commented on #25
@cardwing Could you please be clearer? The README.md asks us to run the file just the way you have mentioned. What does don't activate tensorflow in terminal mean?

[2019-08-28 13:12] raghuram-kukun commented on #56
@gulzainali98 Were you able to fix it?

[2019-08-28 14:10] raghuram-kukun commented on #69
@mhkeller Same issue here. Were you able to fix this?

[2019-08-28 16:30] raghuram-kukun commented on #69
@mhkeller The function to use these arguments are there, we just need to make a call to these functions if the arguments to multi-scale and sliding window are True.

[2019-09-08 19:44] gulzainali98 commented on #56
no

[2019-09-18 10:11] VVZzzz commented on #67
@rakhecha42  So Have you solved this problem? How? Thanks

[2019-09-23 09:03] Vladkryvoruchko commented on #49
Trying dig info how to workaround to deal with this on Python3.6+

Currently found:
https://github.com/keras-team/keras/issues/9595
But WIP

[2019-09-23 09:05] Vladkryvoruchko commented on #49
Okay, found old discussion here:
https://github.com/Vladkryvoruchko/PSPNet-Keras-tensorflow/issues/25#issuecomment-373985500

[2019-09-23 10:09] Vladkryvoruchko commented on #66
@Jason-xin You may want to reopen this issue if they are still required, I'll provide you.

[2019-09-23 10:09] #66 closed

[2019-09-23 10:15] Vladkryvoruchko commented on #59
Dont know if it is still related. May want to reopen if true

[2019-09-23 10:15] #59 closed

[2019-09-23 10:16] Vladkryvoruchko commented on #56
Will add better weights file loading process soon

[2019-09-23 10:18] Vladkryvoruchko commented on #55
@FENGShuanglang  Im not sure if your question is related to the repo, or is it more of a general question on how to implement multi scale ?

[2019-09-23 10:26] #44 closed

[2019-09-23 10:26] #43 closed

[2019-09-24 13:37] Vladkryvoruchko commented on #69
See https://github.com/Vladkryvoruchko/PSPNet-Keras-tensorflow/pull/72

[2019-09-24 13:37] #69 closed

[2019-09-24 13:37] Vladkryvoruchko commented on #67
Fixed in https://github.com/Vladkryvoruchko/PSPNet-Keras-tensorflow/pull/71

[2019-09-24 13:38] #64 closed

[2019-09-24 13:39] #55 closed

[2019-09-24 13:40] #26 closed

[2019-09-24 14:01] Vladkryvoruchko commented on #18
cli argument `--glob /path/to/directory` should do the job

[2019-09-24 14:01] #18 closed

[2019-09-25 10:01] Vladkryvoruchko opened #76 "Updates for the repository"
**[Created Issue for tracking]**
_Disclaimer: I know there are several repos on the Github, that already include PSPNet implemented in TensorFlow with all the features included, but aint give a shit about that, just want to help anyone who use this repo, and know that I have a high-quality code._

Alright, I haven't maintained anything here for a while, so its time to put some effort to solve as m

[2019-12-18 07:51] hadolop opened #77 "can not down the .h5"
thanks for your share very much!
i follow the step in readme ,but i can not download "pspnet101_cityscapes.h5 pspnet101_cityscapes.json" . this link of download is ok?

[2019-12-19 02:31] #77 closed, assigned to nobody

[2020-03-21 03:54] nicpho commented on #25
from keras.backend.tensorflow_backend import tf as ktf for keras 2.3.1

[2020-06-09 07:24] keepgoing365 commented on #20
I'm using scipy==1.0.0，tensorflow-gpu==1.13.1，keras==2.0.6,opencv-python==4.1.0.25,python=3.5.2. it works!

[2021-02-21 14:15] mobiiin commented on #25
im having the same issue. tensorflow-gpu 2.4 or 2.3 not sure and keras 2.4.3
from keras.backend.tensorflow_backend import tf as ktf doesn't work either
ps: tf.keras.backend worked on my system
move the tensorflow import to the upper line

[2022-07-31 20:17] Zynist opened #78 "How to show the label of the result"
how can i got the result of image as text with label and percentage of each label?